
<html>
 <head>
    <title>Book Mark</title>
 </head>
 <body>
	<form action="/" method="post" autocomplete="off"> 
		<label for="q"></label> <input type="text" name="q" id="q" value={{q}}>  
		<input type="submit" value="Search"> 

	<ol>
        {% for resp in response.hits.hits %}
                <li><a href = "{{resp._source.url}}">{{resp._source.Title}}</a>, Year: {{resp._source.Year}}, Author: {{resp._source.Author}}</li>
        {% endfor %}
        </ol>


        </form>
	



 </body>
</html>
